div.nodec{
    border-style: solid;
    border-color: red;
    background-color: lightblue;
    font-size: 3em;
    margin-left: .5em;
    margin-bottom: .5em;
    float: left;
    width: 10%;
}
div:hover{
    border-style: dotted;
    border-color: blue;
    background-color: lightgreen;
    font-size: 3em;
    margin-left: .5em;
    margin-bottom: .5em;
    float: left;
    width: 10%;
}